name: CI
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Set up JDK 25
      uses: actions/setup-java@v5.0.0
      with:
        distribution: corretto
        java-version: '25'
        cache: maven

    - name: Build with Maven
      run: mvn -B verify
