name: Release

on:
  push:
    tags:
    - 'v*.*.*'

jobs:
  release-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.1

    - name: Set up JDK 25
      uses: actions/setup-java@v5.2.0
      with:
        distribution: corretto
        java-version: '25'
        cache: maven

    - name: Build artifacts (thin jar + libs)
      run: mvn -B -DskipTests clean package

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.7.0
      with:
        platforms: linux/amd64,linux/arm64

    - name: Set up Buildx
      uses: docker/setup-buildx-action@v3.12.0

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GH_TOKEN }}

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to Docker Hardened Images
      uses: docker/login-action@v3
      with:
        registry: dhi.io
        username: ${{ vars.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Extract tag
      id: vars
      run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

    - name: Run maven install
      run: mvn clean install

    - name: Build and push Docker image
      uses: docker/build-push-action@v6.18.0
      with:
        context: .
        file: ./Dockerfile
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
          ghcr.io/${{ github.repository_owner }}/k8s-leader-elector:${{ env.VERSION }}
          ghcr.io/${{ github.repository_owner }}/k8s-leader-elector:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
